@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-yellow: #FFA130;
  --color-red: #911B1B;
  --color-navy-blue: #161641;
  --color-dark-blue: #162B53;
  --color-blue: #0360E6;
  --color-teal: #3CCED7;
  --color-blue-20: #CDDFFA;
  --color-teal-20: #D2EDEF;
  --color-gray: #999999;
  --color-dark-gray: #141414;
  --color-off-white: #F7F5F5;
  --color-white: #FFFFFF;
}

@utility header-1 {
  @apply font-bold;
  font-size: 48px;
  line-height: 1.2;
}

@utility header-2 {
  @apply font-bold;
  font-size: 32px;
  line-height: 1.2;
}

@utility header-3 {
  @apply font-bold;
  font-size: 24px;
  line-height: 1.2;
}

@utility subtitle-1 {
  @apply font-semibold;
  font-size: 24px;
  line-height: 1.2;
}

@utility subtitle-2 {
  @apply font-semibold;
  font-size: 16px;
  line-height: 1.2;
}

@utility body-1 {
  @apply font-normal;
  font-size: 16px;
  line-height: 1.2;
}

@utility body-2 {
  @apply font-normal;
  font-size: 20px;
  line-height: 1.2;
}

@utility small-1 {
  @apply font-semibold;
  font-size: 12px;
  line-height: 1.2;
}
