@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-navy-blue: #161641;
  --color-dark-blue: #162B53;
  --color-blue: #0360E6;
  --color-teal: #3CCED7;
  --color-blue-20: #CDDFFA;
  --color-teal-20: #D2EDEF;
  --color-gray: #999999;
  --color-dark-gray: #141414;
  --color-off-white: #F7F5F5;
  --color-white: #FFFFFF;
}
